<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="profile">
    <header>
      <h1>Hobby Home</h1>
    </header>
    <nav>
      <a href="http://localhost:3000/">HOME</a>
      <a href="http://localhost:3000/viewposts">POSTS</a>
    </nav>
    <main>
      <!-- only show one use based on username in signin -->

      <p>Welcome</p>
      <ul id="userProfile">
        <li>
          <h1><%= user %></h1>
          <br />
          Favroite color: <%= color %>
          <br />
          <p>Favorite food: <%= food %></p>
          <br />
          <p>Favorite hobby: <%= hobby %></p>
          <br />
          <p>Favorite movie: <%= movie %></p>
          <br />
          <p>Favorite music: <%= music %></p>
        </li>
        <button>Edit your profile</button>
      </ul>
    </main>
  </body>
</html>
