<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="profile">
    <header>
      <h1>Hobby Home</h1>
    </header>
    <nav>
      <a href="http://localhost:3000/">HOME</a>
      <a href="http://localhost:3000/viewposts">POSTS</a>
    </nav>
    <main>
      <!-- only show one use based on username in signin -->

      <p>Welcome <%= title %></p>
      <ul id="userProfile">
        <% users.forEach(user => { %>
        <li>
          <h1><%= user.user %></h1>
          <br />
          Favroite color: <%= user.color %>
          <br />
          Favorite food: <%= user.food %> <br />
          Favorite hobby: <%= user.hobby %> <br />
          Favorite movie: <%= user.movie %> <br />
          Favorite music: <%= user.music %>
        </li>
        <button>Edit your profile</button>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
