<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="post">
    <nav>
      <a href="http://localhost:3000/">HOME</a>
      <a href="http://localhost:3000/profile">PROFILE</a>
    </nav>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <form action="">
        <textarea name="" id=""></textarea>
        <br />
        <button>Submit</button>
      </form>
      <p>
        <% posts.forEach(posts => { %>
          <p>
            <%= posts.title %>
            <br/>
            <%= posts.content %>
          </p>
          <button>View comments</button>
          <% }) %>
      </p>
    
    </main>
  </body>
</html>
